@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wrapper untuk pagination agar bullet sejajar */
.swiper-pagination {
  display: flex; /* Mengatur bullet dalam satu baris */
  justify-content: center; /* Mengatur bullet di tengah */
  align-items: center; /* Vertikal sejajar */
}

/* Bullet dasar */
.swiper-pagination .custom-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5); /* Warna bullet default */
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease; /* Menambahkan transisi */
}

/* Efek Hover pada Bullet */
.swiper-pagination .custom-bullet:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Warna lebih terang saat hover */
  transform: scale(1.2); /* Efek pembesaran saat hover */
}

/* Bullet aktif */
.swiper-pagination .custom-bullet-active {
  background-color: transparent; /* Warna transparan untuk lingkaran */
  border: 2px solid rgba(255, 255, 255, 1); /* Border lingkaran aktif */
  width: 1rem; /* Lebar bullet aktif */
  height: 1rem; /* Tinggi bullet aktif */
  border-radius: 50%;
  position: relative;
  animation: pulse 1s infinite; /* Menambahkan animasi pulse */
}

/* Animasi pulse untuk bullet aktif */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

/* Custom navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0;
}

.hero-slider:hover .swiper-button-next,
.hero-slider:hover .swiper-button-prev {
  opacity: 1; /* Visible on hover */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: bold;
}

/* Hover effect on navigation buttons */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
}

.swiper {
  --swiper-navigation-color: #fff !important;
  --swiper-pagination-color: #fff !important;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.hover-effect {
  transition: opacity 0.5s ease;
}

/* Media query untuk layar mobile */
@media (max-width: 1024px) {
  .group:hover .hover-effect {
    opacity: 0 !important; /* Nonaktifkan efek hover */
  }
}
